@font-face {
  font-family: "Georgia Italic";
  font-weight: normal;
  src: url("../fonts/GeorgiaItalic.woff2") format("woff2"),
  url("../fonts/GeorgiaItalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans - Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"),
  url("../fonts/PTSansNarrow.woff") format("woff");
}

@font-face {
  font-family: "PT Sans - Narrow";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"),
  url("../fonts/PTSansNarrowBold.woff") format("woff");
}
