.slider {
  display: flex;
  flex-wrap: wrap;
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__control {
  flex-basis: 50px;

  &:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    background: url("../img/sprite.svg") -99px -61px no-repeat;
  }

  &:active:before {
    opacity: 0.3;
  }

  &--next:before {
    transform: rotate(180deg);
  }
}

.slider__toggles {
  margin: 0;
  padding: 0;
  flex-basis: 100%;
}

.slider__toggle {
  padding: 0;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  background: transparent;
  border: 1px solid #ffffff;

  &:hover, &:focus {
    border: 1px solid #d5c9bd;
  }

  &:active {
    background-color: #d5c9bd;
  }

  &:not(:nth-child(1)) {
    margin: 0 0 0 23px;
  }

  &--active {
    background: #ffffff;
  }
}

@media (min-width: 768px) {
  .slider__list {
    flex-basis: calc(100% - 100px);
  }
}
