.user-panel {
  display: flex;
  align-items: center;
}

.user-panel__login {
  position: relative;
  display: block;
  padding: 16px 21px 16px 50px;
  color: #ffffff;
  text-decoration: none;
}

.user-panel__login-icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: currentColor;
  opacity: .3;
}

@media (max-width: 767.98px) {
  .user-panel {
     display: none;
   }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .user-panel__login {
    span {
      display: none;
    }
  }

  .user-panel__login-icon {
    &:hover {
      color: #826550;
      opacity: 1;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: 1200px) {
  .user-panel__login {
    padding: 27px 32px 27px 50px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      background: #ffffff;
      color: #000000;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    span {
      display: block;
    }
  }
}
