.copyright__text {
  margin: 0;
  text-align: center;
}

.copyright__link {
  margin: 15px 0 0;
  color: #ffffff;
  border: 1px solid #3f3f3f;

  &:hover {
    border: 1px solid #545454;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    border: 1px solid transparent;
    background-color: #252525;
  }
}
