.header {

}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}

.header__logo-img {
  width: 226px;
  height: 30px;
}

@media (max-width: 767.98px) {
  .header__container {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  .header {
    background-color: #000000;
  }

  .header__logo {
    order: 2;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .header__logo {
    height: 650px;
  }

}
