.slider {

}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__toggles {
  margin: 0;
  padding: 0;
}

.slider__toggle {
  padding: 0;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  background: transparent;
  border: 1px solid #ffffff;
  outline: none;

  &:not(:nth-child(1)) {
    margin: 0 0 0 23px;
  }

  &--active {
    background: #ffffff;
  }
}

@media (min-width: 768px) {
  .slider__item {
    display: block;
  }

  .slider__toggles {
    display: none;
  }
}
