.slider {

}

.slider__list {

}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__toggles {
  margin: 0;
  padding: 0;
}
.slider__toggle {
  margin: 0 0 0 23px;
  padding: 0;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: transparent;
  border: 1px solid #ffffff;
  outline: none;

  &--active {
    background: #ffffff;
  }
}
