.user-panel {
  display: flex;
  align-items: center;
}

.user-panel__login {
  position: relative;
  display: block;
  padding: 16px 21px 16px 50px;
  color: #ffffff;
  text-decoration: none;
}

.user-panel__login-icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: currentColor;
  opacity: .3;
}

@media (max-width: 767.98px) {
  .user-panel {
    display: none;
  }
}

@media (min-width: 768px) {
  .user-panel__login {
    span {
      display: none;
    }
  }

}

@media (min-width: 1200px) {
  .user-panel__login {
    display: block;
    font-weight: bold;
    text-transform: uppercase;

    span {
      display: block;
    }
  }
}
